p{
    font-family: Arial, Helvetica, sans-serif;
    }
h1{
    
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
    
}
h3{
    background-color: aqua;
}    
   
h4{
    color: black;
}

.resaltado{
    font-weight: bold;
}
.impar{
    background-color: lightskyblue;}
/* DiV para el Nombre y Apellido del curriculum */
.cv1{
    width: 100%;
    border-radius: 15px;
    background-color: lightskyblue;
    padding-left: 10px;   
    box-shadow: -5px -5px 15px 10px black ;

}   

